numpy==1.26.4
pandas==2.2.0
scipy==1.14.1
scikit-learn==1.6.0
xgboost==2.1.4
matplotlib==3.9.2
seaborn==0.13.2
tqdm==4.66.2
joblib==1.4.2
numba==0.59.1
shap==0.45.1
dice-ml==0.11
arch==7.2.0
statsmodels==0.14.2
optuna==4.0.0

